<!DOCTYPE html>
<html>
<head>
    <title>Train Booking</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <a href="/train_form"><button>Add Train</button></a>
    <table border="1">
        <tr>
            <th>Train ID</th>
            <th>Train Name</th>
            <th>Route</th>
            <th>Actions</th>
        </tr>
        {% for train in trains %}
        <tr>
            <td>{{ train.TrainID }}</td>
            <td>{{ train.TrainName }}</td>
            <td>{{ train.Route }}</td>
            <td>
                <a href="/train_form/{{ train.TrainID }}"><button>Edit</button></a>
                <form action="/delete_train/{{ train.TrainID }}" method="POST" style="display:inline;">
                    <button onclick="return confirm('Are you sure?')" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>
