<!DOCTYPE html>
<html>
<head>
    <title>Train Booking</title>
</head>
<body>
    <!-- to se flash msg in html-->
     <!--all the flash messages are saved in get_flashed_messages().. provided by jinja2 and it is by default passed tp html pg rendered... when html teemplate call this function... flash message wll be removed from this function-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="color: red;">
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1>Welcome to Train Booking System</h1>
    <button onclick="location.href='/search'">Book Train</button>
    <button onclick="alert('Coming Soon!')">View/Cancel Booking</button>
</body>
</html>
